* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection{
    color:#fff;
    background-color: #000;
}

html , body{
    height:100%;
    width: 100%;
}
body{
    background-color:#F7F7F7 ;
}

#nav{
    width:100%;
    /* background-color: palegoldenrod; */
    position: fixed;
    z-index:6 ;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.navsvg{
 /* background-color: red; */
 height:82px;
 overflow: hidden;
}

.navsvg svg{
    display: block;
}

#nav .nav2{
    display: flex;  
    align-items: center;
    justify-content: center;
    gap:40px;
}
 .nav2 .links a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    font-size: 12px;
    margin-right: 45px;
    font-weight: 300;
 }


.nav2 .icons{
background-color: white;
border-radius: 20px;
padding:8px 20px;
display: flex;
gap:50px;
}

.nav2 .icons i{
 font-size: 18px;
font-weight:100;
color:#333;
}

#cursor{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    /* z-index: 3; */
    transform: translate(-50% ,-50%) scale(0);

}
#page1{
    min-height: 100vh;
    /* background-color: red; */
    position: relative;
    width: 100%;
    padding: 0 0.5vw;
    padding-top: 25vh;
    
    background-color: white;
}

#page1 h1{
    font-size: 15.5vw;
    text-transform: uppercase ;
    font-family: futura;
    line-height:24vh;
    letter-spacing: -8px;
}
#heading{
    position: relative;
    z-index:3;
    background-color: white;
     margin-bottom: -20vh;
}

#image-container{
     height: 98vh;
     width: 100%;
     overflow: hidden;
    position: relative;
    z-index: 1;
    /* background-color: blue; */
}

#image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

#textsection{
    /* background-color: red; */
    height:50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; 
     background-color: white; 
    margin-top:-15vh;  
    position: relative;
    z-index: 5;

}

#textsection h1{
 font-family: futura;
 text-transform: uppercase;
 font-size:4vw;
 text-align: center;
 font-weight: 600;
 letter-spacing:1px;
}

#textsection p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:rgb(61, 61, 61);
    font-weight: lighter;
    margin-top: -27px;
}

#video-container{
    height: 98vh;
     width: 100%;
    /* background-color: rgb(37, 36, 36); */
    margin-top: 2.5vh;
    position: relative;
}

#video-container video{
    height:100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color:#fff;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-size: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2{
    /* background-color: green; */
    height:100vh;
    width: 100%;
    position: relative;
    margin-top:50px;
    display: flex;
    align-items: center;
    padding:3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
 height:100vh;
 width: 31%;
  /* background-color:  blue; */
overflow: hidden;
position: relative;
/* display: flex;
align-items: center;
justify-content: center;
flex-direction: column; */
}

#page2 .elem img{
    height:100vh;
    width: 100%;
    object-fit: contain;
    scale:1.2;
}

#page2 .elem .dets{
height:50px;
width:70%;
background-color:white;
border-radius: 20px;
z-index:5;
position: absolute;
top:50%;
left:15%;
display: flex;
align-items: center;
justify-content: space-evenly;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
}

#page2 .elem .dets .shop{
font-weight: 100;
color:rgb(87, 84, 84)
}

#page2 .elem .dets .home{
    font-weight:600;
}

#page2 .elem .dets1{
height:200px;
width:70%;
background-color: rgb(244 , 244 , 244);
/* background-color: red; */
border-radius: 20px;
z-index:4;
position: absolute;
top:53%;
left:15%;
opacity: 0;
}



#page3{
    min-height:120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:70px;
    flex-wrap: wrap;
}

.child12{
   height:60vh;
   width: 100%;
   /* background-color: red;  */
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px 20px;
}

 .child1{
    height:45vh;
    width:59%;
    border:1px solid  #F7F7F7;
}
 .child1 h1{
    font-size: 55px;
    font-weight: 700;
    font-family: futura;
    text-transform: uppercase;
    padding-top:50px;
 }

.child2{
    height:45vh;
    width: 40%;
    /* border:1px solid  black; */
    display: flex;
    align-items: flex-start;
    gap:50px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
     padding: 0 20px;
    padding-top:50px;
    font-weight: 100;
    font-size: 18px;
    letter-spacing:1px;
} 

.child2 a{
    color:black;
    font-size:13px;
    text-decoration-line: underline;
    text-underline-offset:20px;
}


#child5 , #child6{
    height:92vh;
    width: 40vw;
    /* background-color: red; */
    /* border:1px solid  black; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:futura;
    font-size: 10px;
    letter-spacing:3px;
    gap:50px;
}

#child3 , #child4{
    height:85vh;
    width: 40vw;
    /* background-color: red; */
    /* border:1px solid  black; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:futura;
    font-size: 10px;
    letter-spacing:3px;
    gap:50px;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding:10px 20px
}

#page4{
     min-height: 100vh;
    width: 100%;
    background-color: blue;
    margin-top:5px
}

@media (max-width:600px){
    #page1 h1{
    font-size: 15vw;
    line-height:7vh;
    letter-spacing:-2px;
    margin-left: 12px;
}

#page1{
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
}
}