* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection{
    color:#fff;
    background-color: #000;
}

html , body{
    height:100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    /* background-color: red; */
    position: relative;
    width: 100%;
    padding: 0 0.5vw;
    padding-top: 25vh;
    
    background-color: white;
}

#page1 h1{
    font-size: 15.5vw;
    text-transform: uppercase ;
    font-family: futura;
    line-height:24vh;
    letter-spacing: -8px;
}
#heading{
    position: relative;
    z-index:3;
    background-color: white;
     margin-bottom: -20vh;
}

#image-container{
     height: 98vh;
     width: 100%;
     overflow: hidden;
    position: relative;
    z-index: 1;
    /* background-color: blue; */
}

#image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

#textsection{
    /* background-color: red; */
    height:50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; 
     background-color: white; 
    margin-top:-15vh;  
    position: relative;
    z-index: 5;

}

#textsection h1{
 font-family: futura;
 text-transform: uppercase;
 font-size:4vw;
 text-align: center;
 font-weight: 600;
 letter-spacing:1px;
}

#textsection p{
    text-align: center;
    font-family: futura;
    font-size: 13px;
    color:rgb(61, 61, 61);
    font-weight: lighter;
    margin-top: -27px;
}

#video-container{
    height: 98vh;
     width: 100%;
    /* background-color: rgb(37, 36, 36); */
    margin-top: 2.5vh;
    position: relative;
}

#video-container video{
    height:100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color:#fff;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-size: futura;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}


#page2{
    /* background-color: green; */
    height:100vh;
    width: 100%;
    position: relative;
    margin-top:50px;
    display: flex;
    align-items: center;
    padding:3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
 height:100%;
 width: 31%;
  /* background-color:  blue; */
overflow: hidden;
}

#page2 .elem img{
    height:100%;
    width: 100%;
    object-fit: cover;
    scale:1.2;
}



#page3{
    height:100vh;
    width: 100%;
    /* background-color: saddlebrown ; */
}



@media (max-width:600px){
    #page1 h1{
    font-size: 15vw;
    line-height:7vh;
    letter-spacing:-2px;
    margin-left: 12px;
}

#page1{
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
}
}